asgiref==3.8.1
certifi==2025.1.31
cffi==2.0.0
charset-normalizer==3.4.1
cryptography==48.0.0
Django==4.2.30
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework-api-key==2.3.0
idna==3.10
Markdown==3.10.2
pycparser==2.22
PyJWT==2.12.1
python-dotenv==1.2.2
pytz==2025.2
requests==2.34.2
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2024.2
urllib3==2.7.0
psycopg2-binary==2.9.11
async-timeout==5.0.1
redis==7.4.0
